.section__parallax
  .parallax
    .parallax__layer(data-speed="0.1")
      img(src=require("images/parallax/1.jpg")).parallax__image
    .parallax__layer(data-speed="0.13")
      img(src=require("images/parallax/2.png")).parallax__image
    .parallax__layer(data-speed="0.16")
      img(src=require("images/parallax/3.png")).parallax__image
    .parallax__layer(data-speed="0.2")
      img(src=require("images/parallax/4.png")).parallax__image
    .parallax__layer(data-speed="0.23")
      img(src=require("images/parallax/5.png")).parallax__image
    .parallax__layer(data-speed="0.25")
      img(src=require("images/parallax/6.png")).parallax__image
    .parallax__layer(data-speed="0.28")
      img(src=require("images/parallax/7.png")).parallax__image
