include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        section.greeting
          section.section.hero
            .container.hero__container
              header.hero__header
                .hero__logo
                  .logo НЖ
                .hero__menu  
                  nav.nav
                    - var items = ["Главное", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"];
                    ul.nav__list
                      each item in items
                        li.nav__item
                          +link('#', item)(class="nav__link")
                .socials.hero__socials
                  - var icons = ['insta', 'vk', 'github']
                    ul.socials
                      each item, ndx in icons
                        li.socials__item(class=`${index === 1 ? 'active' : ''}`)
                          a(href=item.link).socials__link
                            +icon(`${item}`, 'socials__icon')
              .hero__content
                h1.user-info__desc Личный сайт
                  | 
                  br 
                  |веб разработчика
                .user-info__username Наталья Желонкина
              .hero__btns
                .btn__scroll_down
                  a(href='#').scroll_down__desc Скролл
                    +icon('scroll', 'scroll_down')  
          section.section.about
            .container.about__container
              .about-lft
                .user
                  .avatar.user__avatar
                    +image('content/user.jpg', 'avatar__pic')
                - var user__desc = [{"key": "Проживаю:", "value": "Санкт-Петербург"}, {"key": "Возраст:", "value": "35 лет"}, {"key": "Родилась:", "value": "29 февраля"}]
                ul.user__desc 
                  each item in user__desc
                    li.user__desc__item
                      .user__desc__key= item.key
                      .user__desc__value= item.value
              .about-rt
                h4.about-rt__desc Привет, меня зовут
                h2.about__desc__title Наталья Желонкина
                .about-rt__desc
                  |Я занимаюсь разработкой современных сайтов и приложений. 
                  |Мне нравится делать интересные и современные проекты.
                p.about-rt__ps 
                  | Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
                  |Чуть позже я освежу в нём свой контент. 
                  |А пока посмотрите, как тут всё классно и красиво!
        section.triangles.triangles__top
          svg.triangles__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
            polygon(points="0,0 0,100 1000,100")
          svg.triangles__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
            polygon(points="0,100 1000,100 1000,0")
        section.middle__section
          section.section.skill
            .container
              .skill-lft
                .skill-lft__img
                  .skill-lft__img-pic
              .skill-rt
                h2.title.title__skill Чем я могу быть полезен вам
                p.skill-rt__desc 
                  |Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. 
                  |Чуть позже я освежу в нём свой контент. 
                  |А пока посмотрите, как тут всё классно и красиво!
                .values__widget
                  #skills-component
          section.section.job
            .container
              h2.title.title__job Мои работы
                .works__contant
                  #slider-component

        section.triangles.triangles__bottom
          svg.triangles__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
            polygon(points="0,0 1000,0 1000,100")
          svg.triangles__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
            polygon(points="0,0 0,100 1000,0")
        section.budha
          section.section.feedback
            .container
              .feedback__top
                h2.title.title__feedback Что обо мне говорят
                .slider__feedback__buttons
                  .slider__feedback-button
                    button.slider-fb-buttons__item.slider-fb-buttons__item--slide--prev
                      +icon('arrow-down', 'arrow_fb' ) 
                    button.slider-fb-buttons__item.slider-fb-buttons__item--slide--next
                        +icon('arrow-down', 'arrow_fb' ) 
              .feedback__slider 
                ul.feedback__list 
                  li.feedback__item 
                    p.feedback__item-desc 
                      | Эта девушка проходила обучение веб-разработке не где-то, а в LoftSchool! 
                      | 2 месяца только самых тяжелых испытаний и бессонных ночей!
                    .feedback__item-pers 
                      .item-pers__img
                        +image('content/teacher2.png', 'item-pers__img-pic')
                      .item-pers__desc 
                        h3.title__item-pers__desc Ковальчук Дмитрий
                        span.item-pers__desc-text Основатель Loftschool
                  li.feedback__item 
                    p.feedback__item-desc 
                      |Этот код выдержит любые испытания. Только пожалуйста,
                      |не загружайте сайт на слишком старых браузерах
                    .feedback__item-pers 
                      .item-pers__img
                        +image('content/teacher1.png', 'item-pers__img-pic')
                      .item-pers__desc 
                        h3.title__item-pers__desc Владимир Сабанцев
                        span.item-pers__desc-text Преподаватель
                
          section.section.form__section
            .container 
              h2.title.title__form  Связаться со мной
              form.form__tag
                .form__row
                  label.form__block.form__block__user
                    .title__form__block Введите ваше имя
                    input(type="text", name="name", placeholder="Ковальчук Дмитрий").form__input.form-field
                  label.form__block.form__block__pensil
                    .title__form__block Введите ваш email
                    input(type="text", name="email", placeholder="loftschool@study.com").form__input.form-field
                .form__row
                  label.form__block.form__block__message
                    .title__form__block Сообщение к письму
                    input.form__input.form-field(type="text", name="comments", 
                    placeholder="Требуется ваша помощь в создании сайта.  Интересуют сроки и цена вопроса")
                button(type="submit").btn.form__btn Отправить
        footer.footer
          .container 
            .footer-lft
              .copyright &copy;2019
              .owner
                .owner-name
                  |Наталья 
                  br
                  |Желонкина
                .owner-text 
                  |Личный сайт
                  br 
                  |веб-разработчика
            .footer-rt
              nav.nav.footer__nav
                - var items = ["Главное", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"];
                  ul.nav__list
                    each item in items
                      li.nav__item
                        +link('#', item)(class="nav__link")
              .footer__desc
                .footer__desc-lft
                  .footer__desc-lft__text
                    |Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
                  .socials
                    - var socials = [{"icon": "insta", "link": "insta"}, {"icon": "vk", "link": "vk"}, {"icon": "github", "link": "github"}]
                        ul.socials
                          each item in socials
                            li.socials__item__footer
                              a(href=item.link).ss__footer
                                +icon(item.icon, 'socials__icon__footer')
                .footers__desc-rt
                  .footers__desc-rt__text
                    |Всегда пишите код так, будто сопровождать его будет склонный к насилию
                    |психопат, который знает где вы живете
                  span.footers__desc-rt__signature Martin Golding
    include ./templates/entry.pug